/*Chapter 9 CSS Selector */
body{
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Structural Elements Styling */
header {
    background: linear-gradient(to right, #0ddfb1, #107750);
    color: white;
    text-align: center;
    padding: 3rem 1rem;
}

nav{
    background-color: #343a40;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    display: block;
    font-size: 1.1rem;
}

nav ul li a:hover{
    background-color: #495057;
}

main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

section{
    margin: 3rem;
}

/*Chapter 11 Text Styles */
h1{
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    margin: 0;
}

h2{
    font-size: 2rem;
    color: #007bff;
    border-bottom: 3px solid #00c4ff;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

p{
    line-height: 1.8;
    font-size: 1.1rem;
    color: #444;
}

/* chapter 12 Border and Background*/
.profile-img {
    border: 8px solid;
    border-radius: 50%;
    max-width: 200px;
    margin: 1.5rem auto;
    display: block;
    background-color: #fff;
    padding: 5px;
}

/* Chapter 13 Styling Website */
table{
    width: 100%;
    border-collapse: 2rem 0;
    background-color: white;
    box-shadow: 0 4px rgba(0,0,0,0.1);
    
}

th ,td{
    padding: 1.2rem;
    text-align: left;
    border: 1px solid #dee2ed;
}

th{
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

td{
    font-size: 1rem;
}

tr:nth-child(even){
    background-color: #f1f3f5;
}

tr:hover{
    background-color: #e9ecef;
}